@media (max-width:640px){
    .card-catalogo{
        img{
            width: 6.875rem ;
            margin-top: 1.25rem;
        }
        h3{
            font-size: 1rem;
        }
        p{
            font-size: .8125rem;
        }
    }
}