/**H1 de los html pages**/

$titulo-catalogo-nosotros: rgb(255, 255, 255);
$shadow-catalogo-nosotros: .125rem .125rem rgb(0, 0, 0);


$titulo-contacto-hablemos: rgb(0, 0, 0);
$shadow-contacto-hablemos: .125rem .125rem rgb(255, 255, 255);

$font-h1: 'Inter', sans-serif;
$style-h1: italic;

