.main-index{
    background-image: url(../assets/fondo-main-index.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
};





